.search_container {
  background-image: url('../images/pattern-bg-mobile.png');
  background-size: cover;
  height: 40dvh;
  padding: 2rem;
  position: relative;
}

.title {
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.search_bar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-top: 20px;
}

.ip_input {
  outline: 0;
  height: 100%;
  border-radius: 20px 0 0 20px;
  border: none;
  flex-grow: 1;
  padding: 1rem 0 1rem 1.5rem;
  font-size: 20px;
}

.button_container {
  height: 100%;
  width: 80px;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 0 20px 20px 0px;
  cursor: pointer;
}

.button_container > img {
  padding: 0 1rem;
}

@media screen and (min-width: 1440px) {
  .search_container {
    background-image: url('../images/pattern-bg-desktop.png');
    padding: 2rem 12rem;
  }

  .title {
    font-size: 40px;
  }

  .search_bar {
    height: 70px;
    width: 50%;
    margin: 3rem auto;
  }

  .button_container:hover {
    background-color: rgb(57, 54, 54);
  }
}
